.thumbnail .keen-slider__slide {
    font-size: 30px;
    margin-top: 10px;
    height: 100px;
}

.thumbnail .keen-slider__slide {
    cursor: pointer;
}

/* .thumbnail .keen-slider__slide.active {
    border: 2px dashed black;
} */

.thumbnail .keen-slider__slide.active .v-filter {
    @apply bg-opacity-0
}